@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Codystar:wght@300;400&family=Itim&family=Jacques+Francois+Shadow&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9d45b;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
}
.container {
  border: 1px solid red;
  text-align: center;
  background-color: #fdedf0;
  width: 800px;
  border-radius: 25px;
  margin-top: 50px;
}
.container h1 {
  font-family: "Codystar", cursive, sans-serif;
  font-size: 100px;
  color: #fdedf0;
  text-shadow: 0 0 2px rgb(242, 39, 83);
}
.title {
  margin: 20px;
}
.playersSection {
  margin: 100px 0;
}
.gameIcon {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  border-radius: 5px;
  position: relative;
  margin: 30px auto;
}
.gameIcon::before {
  content: "X";
  font-size: 30px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f22753;
  position: absolute;
  left: 3px;
  top: -4px;
}
.gameIcon::after {
  content: "O";
  font-size: 30px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f22753;
  position: absolute;
  right: 3px;
  bottom: -4px;
}
.players button {
  width: 300px;
  padding: 4px;
  border-radius: 10px;
  box-shadow: rgba(242, 39, 83, 0.75) 0px 5px;
  margin-bottom: 20px;
  border: none;
  background-color: #f9d45b;
  color: #f22753;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  padding: 10px;
}
.players button span {
  /* margin-right: 10px; */
  position: absolute;
  left: 10px;
  top: 7px;
  /* font-size: 16px; */
}
.gameboard {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
  width: 20vw;
  height: 40vh;
  padding: 10px;
  outline: 3px dashed #f22753;
  outline-offset: 10px;
  border-radius: 20px;
  margin: 50px auto;
  background-color: #f22753;
}
.cell {
  border-radius: 10px;
  color: #fdedf0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #f9d45b;
  height: 100%;
  width: 100%;
}
.markType {
  /* border: 2px solid #fdedf0; */
  font-size: 3rem;
  font-weight: 700;
  font-family: "Fredoka", sans-serif;
}
.gamePlayers {
  /* display: flex; */
  justify-content: center;
  gap: 3.125em;
  display: none;
}
.player1,
.player2 {
  border: 1px solid red;
  text-align: left;
  width: 15vw;
  padding: 5px;
}
.player1 h4,
.player2 h4 {
  display: flex;
  justify-content: space-between;
}
.player1 h3,
.player2 h3 {
  /* background-color: #f22753;
  width: 20%;
  color: #f9d45b;
  margin: auto; */
  color: #f22753;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}
.winner {
  margin: 20px;
  color: #f22753;
  font-size: 20px;
  font-weight: bold;
}
.turn {
  margin: 20px;
  color: #f22753;
  font-size: 20px;
  font-weight: bold;
}
.restart {
}
/* .marked-x {
  background-color: blue;
} */
